//- footer
footer.footer 
    .container
        .footer__body 
            .footer__social 
                a(href="https://www.facebook.com/addin.whites/", target="_blank", aria-label="facebook")
                    img(src="https://img.shields.io/badge/Facebook-0866FF?logo=facebook&logoColor=fff&style=plastic", alt="facebook")
                a(href="https://www.instagram.com/aitishniyprizrak/", target="_blank", aria-label="instagram")
                    img(src="https://img.shields.io/badge/Instagram-E4405F?logo=instagram&logoColor=fff&style=plastic", alt="instagram")
                a(href="https://t.me/java_it_uk", target="_blank", aria-label="telegram")
                    img(src="https://img.shields.io/badge/Telegram-26A5E4?logo=telegram&logoColor=fff&style=plastic", alt="telegram")
            .footer__telephone 
                a(href="tel:+380635979786") call my number:
                    span 0635979786